.dataRas{
    background: green;
    color: white;
    padding: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.shoRas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.dataCradRas{
    width: 90%;
    background: white;
    margin: auto;
    max-width: 720px;
    position: relative;
    top: 20px;
    padding: 10px;
}

.title_Ras{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

}