@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url("/fonts/arial/arial.ttf");
    font-weight: 400;
    font-style: normal;
}

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0px;
}
a:hover, a:focus {
    text-decoration: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3;
    color: #990404;
}
input,button,textarea{font-family: inherit;}
.button{
    background: #FEFDFD;
    border: 2px solid #B2B3B3;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.3s;
}
.button:hover {
    background: #CC0610;
    color: #ffffff;
}
button {cursor: pointer;}
button::-moz-focus-inner {
    padding: 0;
    margin: 0;
}
.cart_r{
    min-width:600px;
    min-height: 100vh;
    max-width: 600px;
    background-color:#edf0f7;
}

@media screen and (max-width: 500px) {
    .cart_r{
        height: 100vh;
        width: 100% !important;
        background-color: #edf0f7;
        z-index: 222222;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 0;
    }


    .head__d{
        display: none;
    }

    .head__m{
        z-index: 300;
    }


    .div_mobile{
        width:  100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        background-color: white;
    }

    .head__m_logo{
        height: 45px;
        margin-right: 30px;
    }
    .head__m_logo_cart{
        height: 45px;
        margin-right: 30px;
    }


    .catalog__title h1{
        font-size: 21px;
    }

    .intro{
        width:  100%;
        flex-wrap: wrap;
        display: flex;
        justify-items: center;
    }

    .intro_image{
        width: 100%;
    }
    .intro_r{
        display: none;
    }
    .intro__about{
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        text-align: center;
    }

    .intro__about__item{
        width: 100%;
    }
    .intro_img{
        height: 75px;
    }

    /** Начало стилей gallary*/
    .gallery {
        margin-bottom: 80px;
        width: 100%;
        margin-top: 90px;
    }

    .gallery__inner {
        position: relative;
        z-index: 100;
    }

    .gallery__title {
        position: absolute;
        top: -80px;
        left: 0;

        font-weight: bold;
        font-size: 24px;
        color: #FFFFFF;

        padding: 8px 84px 4px;
        background: #191919;
    }

    .gallery__inner:hover .gallery__title {
        color: #ffffff;
        background: #990404;
    }

    .gallery__list {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;

        margin: 5px 1px;
        height: 480px;
        justify-content: center;
    }

    .gallery__list__item {
        width: 90%;
        height: 222px;

        margin: 5px 5px 0;
        background: #FFFFFF;
        border: 2px solid #B2B3B3;
    }

    .gallery__list__item:nth-child(-n+5) {
        margin: 5px 5px 0;
        background: #FFFFFF;
        border: 2px solid #B2B3B3;
        width: 90%;
    }

    .gallery__list__inner {
        height: 100%;
        display: none;
        align-items: center;

        padding: 20px;
        text-align: center;
    }

    .gallery__list__item:hover {
        border: 2px solid #CDA413;
        background: #CDA413;
    }

    .gallery__list__item:hover .gallery__list__inner {
        display: flex;
    }

    .gallery__list__title {
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .gallery__background {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        z-index: -1;

        height: 558px;
        margin: 0 86px 0 34px;
        background: #E3E3E3;
    }


    .gallery__list::-webkit-scrollbar-track {
        background: #B2B3B3;
        border-radius: 10px;
    }

    .gallery__list::-webkit-scrollbar-thumb {
        background: #990404;
        border-radius: 10px;
    }

    .gallery__list::-webkit-scrollbar{
        width: 10px;
    }

    .catalog__gallery {
        width: 260px;
        height: 220px;

        cursor: pointer;
        margin: 0 5px 42px;
        background: #FFFFFF;
        border: 2px solid #B2B3B3;
    }

    /** Конец стилей gallary*/

    .info_contact{
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        text-align: center;
    }

    .contact h2{
        text-align: center;
        font-size: 44px;
    }

    .info_contact_blog{
        width: 100%;
        text-align: center;
    }
    .viber_img{
        text-align: center;
        width: 108px;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
        z-index: 3;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0px;
        right: 5px;
        width: 30px;
        height: 40px;

        cursor: pointer;
        z-index: 9;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 2px;

        background-color: #616161;

        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;

        width: 100%;
        height: 100%;

        margin: 0;
        padding: 10px 0;

        list-style: none;

        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;

        color: #333;

        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;

        text-decoration: none;

        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }

}

/** Для компьютера */
@media screen and (min-width: 501px) {

    /** Начала стилей шапки*/
    .head__m{
        display: none;
    }
    .head__d_wrapper{
        max-width: 1060px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
    }

    .head__d_menu1{
        width: 100%;
        display: flex;
        text-align: center  ;
        justify-content: center;
        font-weight: bold;
        margin-top: 20px;
    }
    .head__d_menu1_btn{
        margin: 0 10px;
        color: #000000;
        text-transform: uppercase;
        text-decoration: none;
    }
    .head__d_logodiv{
        margin-top: 20px;
        width: 100%;
        height: 90px;
        display: flex;
        flex-wrap: wrap;
    }
    .head__d_logodiv_logoimg{
        width: 212px;
    }
    .head__d_logodiv_logoadress{
        width: 212px;
    }
    .head__d_logodiv_btn{

    }
    .head__d_logodiv_btn_com{
        font-weight: bold;
        font-size: 13px;
        text-align: center;
        color: #B2B3B3;
        padding: 7px 3px 5px;
        margin-right: 10px;
        white-space: nowrap;
        width: 170px;
        margin-top: 70px;
    }

    .head__d_logodiv_search_input{
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        padding: 6px 120px 6px 10px;
        background: #FEFDFD;
        border: 2px solid #B2B3B3;
        border-radius: 10px;
        margin-top: 70px;
    }
    .head__d_user_nav{
        display: flex;
        flex-wrap: wrap;
        width: 126px;
    }
    .head_d_enter{
        width: 100%;
        display: block;
    }
    .header__enter{
        width: 100%;
    }
    .head_d_cat{
        width: 100%;
    }

    .header__basket {
        width: 100%;
        height: 65px;
        position: relative;
        border: 2px solid #B2B3B3;
        border-radius: 10px;
        background: url(/img/bas1.png) center no-repeat;
    }

    .header__basket:hover {
        background-color: #CC0610;
        background: url(/img/bas2.png) center no-repeat;
        background-size: cover;
    }

    .header__bottom{
        width: 100%;
        background-color: #990404;
        margin-top: 20px;
        padding: 14px 0;
        text-align: center;
    }

    .header__bottom__inner {
        display: flex;
        justify-content: space-around;
    }

    .header__bottom__section {
        font-weight: bold;
        font-size: 22px;

        padding: 6px 20px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
    }

    .header__bottom__section a{
        color: white;
        text-decoration: none;
    }

    .header__bottom__section:hover {
        background: #CDA413;
    }

    .header__bottom__section:hover a {
        color: #990404;
    }
    /** Конец стилей шапки*/

    /** Начало стилей cекции*/
    .section{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    /** Конец стилей cекции*/

    /** Начало стилей intro*/
    .intro{
       width:  70%
    }
    .intro_image{
        width: 100%;
    }
    .intro__line{
        width:17px;
        background-color: #990404;
    }
    .intro_r{
        display: flex;
        flex-wrap: wrap;
        background: #CDA413;
        width: calc( 30% - 17px);
    }

    .intro__about{
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        text-align: center;
    }

    .intro__about__item{
        width: 33%;
    }

    .intro__event{
        width: 100%;
        color: white;
        height: 100px;
        font-weight: bold;
        font-size: 54px;
        text-align: center;
        padding: 60px 0 60px;
        color: #FFFFFF;
        background: #CDA413;
        text-transform: uppercase;
    }
    .intro__r_line{
        width: 100%;
        background: black;
        color: white;
    }
    .intro_img{
        height: 75px;
    }
    /** Конец стилей intro*/

    /** Начало стилей gallary*/
    .gallery {
        margin-bottom: 80px;
        width: 100%;
        margin-top: 50px;
    }

    .gallery__inner {
        position: relative;
        z-index: 100;
    }

    .gallery__title {
        position: absolute;
        top: -80px;
        left: 0;

        font-weight: bold;
        font-size: 24px;
        color: #FFFFFF;

        padding: 8px 84px 4px;
        background: #191919;
    }

    .gallery__inner:hover .gallery__title {
        color: #ffffff;
        background: #990404;
    }

    .gallery__list {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;

        margin: 40px    5px;
        height: 480px;
    }

    .gallery__list__item {
        width: 19%;
        height: 222px;

        margin: 35px 5px 0;
        background: #FFFFFF;
        border: 2px solid #B2B3B3;
    }

    .gallery__list__item:nth-child(-n+5) {
        margin-top: 0;
    }

    .gallery__list__inner {
        height: 100%;
        display: none;
        align-items: center;

        padding: 20px;
        text-align: center;
    }

    .gallery__list__item:hover {
        border: 2px solid #CDA413;
        background: #CDA413;
    }

    .gallery__list__item:hover .gallery__list__inner {
        display: flex;
    }

    .gallery__list__title {
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .gallery__background {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        z-index: -1;

        height: 558px;
        margin: 0 86px 0 34px;
        background: #E3E3E3;
    }


    .gallery__list::-webkit-scrollbar-track {
        background: #B2B3B3;
        border-radius: 10px;
    }

    .gallery__list::-webkit-scrollbar-thumb {
        background: #990404;
        border-radius: 10px;
    }

    .gallery__list::-webkit-scrollbar{
        width: 10px;
    }

    .catalog__gallery {
        width: 260px;
        height: 220px;

        cursor: pointer;
        margin: 0 5px 42px;
        background: #FFFFFF;
        border: 2px solid #B2B3B3;
    }
    /** Конец стилей gallary*/


    /** контакт начало */
    .info_contact{
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        text-align: center;
    }

    .contact h2{
        text-align: center;
        font-size: 44px;
    }

    .info_contact_blog{
        width: 33%;
        text-align: center;
    }
    .viber_img{
        height:50%;
        text-align: center;
        max-width: 175px;
    }
    /** контакт конец */
}

/* начала обложки модального онка */
.fixed-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 999;
}

.fixed-overlay_tovar {
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 999;
}

.fixed-overlay_tovar .modal {
    position: absolute;
    left: calc(100% - 400px);
    padding: 20px;
    width:400px;
    height: 100vh;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    color: #000;
}

/* конец обложки модального онка */

.modal {
    text-align: center;
    white-space: nowrap;
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 60%;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    color: #000;
}

.fixed-overlay__modal::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
}
.modal_title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.modal_container{
    display: block;
    width: 100%;
    height: auto !important;
}
.animation-open {
    -webkit-animation-name: zoom-in;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom-in;
    animation-duration: 0.6s;
}
.animation-close {
    -webkit-animation-name: zoom-in;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom-in;
    animation-duration: 0.6s;
}

.popUp__input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*--- Catalog ---*/
@media screen and (min-width: 501px) {
    .catalog {
        margin: 95px 0 19px 40px;
        position: relative;
    }
    .news__detail {
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        width: 100%;
        padding: 3px 8px 20px 40px;
        margin-right: 30px;
        background: #ffffff;
        border: 2px solid #B2B3B3;
    }

    .catalog__list__item {
        width: 260px;
        height: 220px;
        /* left: 27px; */
        margin: 10px 20px 42px;
        background: #FFFFFF;
        border: 2px solid #B2B3B3;
    }
    .catalog__list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 108%;

        margin-left: -60px;
    }

    .catalog__list_shop {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 108%;

        margin-left: -60px;
    }


}
@media screen and (max-width: 500px) {
    .catalog {
        margin: 85px 0 25px 9px;
        position: relative;
    }
    .news__detail {
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        width: 100%;
        padding: 0px 8px 20px 16px;
        margin-left: 0px;
        margin-right: 0px;
        background: #ffffff;
        border: 2px solid #B2B3B3;
    }

    .catalog__list__item {
        width: 260px;
        height: 220px;
        /* left: 27px; */
        margin: 3px -20px 2px 32px;
        background: #FFFFFF;
        border: 2px solid #B2B3B3;
    }

    .catalog__list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: -30px;
    }

}


.catalog__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    z-index: 100;
}

.catalog__title {
    position: absolute;
    top: -70px;
    left: 0;

    font-weight: bold;
    font-size: 24px;
    color: #990404;
    padding: 5px 10px 5px 0;
    background-color: #ffffff;
    text-transform: uppercase;
}

.catalog__title span {
    text-transform: lowercase;
}




.catalog__list__item:hover .catalog__link {
    display: flex;
    background: #CDA413 !important;
    border: 2px solid #CDA413;
    opacity: 0.75; /* Полупрозрачный фон */
    filter: alpha(Opacity=75);
}

.catalog__background {
    position: absolute;
    top: -56px;
    left: 60px;
    right: -270px;
    z-index: -1;

    height: 106%;

    margin-right: 50px;
    background: #E3E3E3;
    width: 93%;
}

.catalog__info .catalog__background {
    right: 10px;
}

.catalog__link {
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.catalog__link a {
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;

    color: #FFFFFF;
    text-transform: uppercase;
}

/*--- Catalog Value ---*/

.catalog__value__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    height: 100%;
    padding: 12px 10px 10px 5px;
    margin: 3px 20px 42px;
    background: #FFFFFF;
    border: 2px solid #B2B3B3;
}

.list__item__img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    height: 130px;
}

.list__item__img a img {

    width: 300px;
    height: 134px;
    object-fit: cover;
    object-position: center;
}

.list__item__info {
    margin-bottom: 20px;
}

.list__item__text {
    text-align: center;
    margin-bottom: 10px;
}

.list__item__name {
    font-weight: bold;
    font-size: 12px;
}


.list__item__acticle {
    font-weight: bold;
    font-size: 10px;
}

.list__item__value {
    display: flex;
    padding: 0 10px 0 15px;
}

.list__item__price {
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;

    color: #CC0610;
}

.list__item__favorite {
    width: 44px;
    height: 40px;
    display: flex;
    margin: 0 0 0 auto;

    background: url(img/furnitureValue/1-1.png) center no-repeat #FFFFFF;
    border: 2px solid #B2B3B3;
    border-radius: 10px;
}

.list__item__favorite:hover {
    background: url(img/furnitureValue/1-2.png) center no-repeat;
    border: 2px solid #CC0610;
}


.list__item__basket {
    width: 70px;
    height: 40px;
    display: flex;
    margin: 0 0 0 auto;

    background: url(/img/2-1.png) no-repeat #FFFFFF;
    background-position-x: 14px;
    background-position-y: center;
    border: 2px solid #B2B3B3;
    border-radius: 10px;
}

.list__item__basket:hover {
    background: url(/img/2-2.png) center no-repeat;
    border: 2px solid #CC0610;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: auto;
    visibility:hidden;
    opacity: 0;
    transition: opacity 0.7s ease-in 0s;
}
.popup {
    top: 10%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 80%;
    min-width: 200px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #666;
    background-color: #fefefe;
    z-index: 1000;
    border-radius: 10px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.4);
}
.close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 130, 230, 0.9);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(180, 20, 14, 0.8);
}
#overlay .popup p.zag{margin:20px 0 10px;padding:0 0 6px;color:tomato;font-size:16px;font-weight:bold;border-bottom:1px solid tomato;}



.overlay_tovar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: auto;
    visibility:hidden;
    opacity: 0;
    transition: opacity 0.7s ease-in 0s;
}

.overlay_tovar .popup {
    top: 10%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 80%;
    min-width: 200px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #666;
    background-color: #fefefe;
    z-index: 1000;
    border-radius: 10px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.4);
}

/*--- Carts Value ---*/
.cart_list{
    width:  100%;
    flex-wrap: wrap;
    display: flex;
}
@media screen and (min-width: 501px) {
    .cart_left {
        width: 50%;
    }
    .cart_right {
        background-color: #bab994;
        width: 50%;
    }
}

@media screen and (max-width: 501px) {
    .cart_left {
        width: 100%;
    }
    .cart_right {
        background-color: #bab994;
        width: 100%;
    }
}


.item__carts{
    padding-top: 20px;
    width:  100%;
    flex-wrap: wrap;
    display: flex;
}
.span_name_cart{
    width: 70%;
}
.cart_item_pric{
    width: 30%;
}

.tovar_info{
    padding-top: 20px;
    width:  100%;
    flex-wrap: wrap;
    display: flex;
}
@media screen and (min-width: 501px) {
    .tovar_info_l{
        width: 50%;
    }
    .tovar_info_r{
        width: 50%;
    }
}
@media screen and (max-width: 501px) {
    .tovar_info_l{
        width: 100%;
    }
    .tovar_info_r{
        width: 100%;
    }
}

